---
title: First Data Service Broker (Tile)
owner: Partners
---


This documentation describes the First Data Service Broker for Pivotal Cloud Foundry (PCF). The First Data Service Broker registers a service broker on PCF and exposes its service plans on the Marketplace. Developers can obtain credentials for using First Data credit card processing APIs (Payeezy) by creating instances of the service plans using Apps Manager or the cf Command Line Interface (CLI).

## <a id='overview'></a>Overview


First Data Tile provides benefits for developers using Pivotal Cloud Foundry environment to make it easier to utilize Payeezy API services (https://developer.payeezy.com). Payeezy is important API platform which First Data provides for developers and merchants to process payments.

Cloud Foundry provides ability to expose various things (such as databases and messaging systems) as services on the cloud. Applications using these services can automatically obtain service credentials and start making necessary API calls. This is exactly the benefit that we’re trying to utilize with the First Data Tile. It gives users capability to automatically wire Payeezy credentials into applications running on Cloud Foundry. Developers can utilize 3 different types of plans using First Data Tile:
-	Anonymous plan - provides default (anonymous) set of credentials
-	Existing plan - provides developers ability to enter set of credentials before requesting the tile
-	New Plan - provides developers ability to request new set of credentials using their name and email


## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>First Data Tile Details:</dt>
<dd><strong>Version</strong>: 1.0 </dd>
<dd><strong>Release Date</strong>: October 22, 2016)</dd>
<dd><strong>Software component version</strong>: 0.14</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: v1.7</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: v1.7</dd>
<dd><strong>vSphere support?</strong> YES</dd>
<dd><strong>OpenStack support?</strong> YES</dd>
<dd><strong>AWS support?</strong> YES</dd>
</dl>

## <a id="reqs"></a>Requirements

First Data Tile requires MySQL service broker

## <a id="limitations"></a>Limitations

**List any known limitations.**

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to boris.minkin@firstdata.com.



