---
title: Installing and Configuring First Data Service Broker
owner: Partners
---

This topic describes how to install and configure First Data Service Broker

##<a id='install'></a> Install and Configure First Data Service Broker

1. Download the product file from Pivotal Network.

1. Upload the product file on the Ops Manager Installation Dashboard.

1. Click **Add** next to the uploaded First Data tile in the Ops Manager **Available Products** view to add it to your staging area.

1. Click the newly added First Data tile.

1. Accept all the default settings. Make sure "enable global access" check box is checked

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install First Data tile.
