---
title: Using First Data Tile
owner: Partners
---

This topic describes how to use First Data Tile.

##<a id='using'></a> Using First Data Tile

First Data Tile provides benefits for developers using Pivotal Cloud Foundry environment to make it easier to utilize Payeezy API services (https://developer.payeezy.com). Payeezy is important API platform which First Data provides for developers and merchants to process payments.
Pivotal Cloud Foundry is a Platform as a Service (PaaS) offering by Pivotal which allows seamless deployment of the applications within public or private clouds. The strength of Pivotal Cloud Foundry is in ability to make deployment very simple (just pushing application binaries to the environment). It also enables fast and agile development of applications on the cloud. 
Cloud Foundry is available as public service (PWS – https://run.pivotal.io) as well as private on-site installation (it installs on AWS and VMWare environments).

Details of usage can be found here:
<a href="details.html">Details</a>
